<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Hicad Payroll</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container-scroller">
        <nav class="navbar col-lg-12 col-12 d-flex fixed-top p-0">
            <br />
            <div class="text-center navbar-brand-wrapper d-flex align-items-center flex-row">
               
                <a class="navbar-brand brand-logo"><img src="~/Image/Project pictures/Hicad (2).png" /><p style="color:white;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Hicad PayRoll System</p></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                <partial name="_LoginPartial" />
            </div>
        </nav>
        <div class="container-fluid page-body-wrapper">
            <nav class="sidebar sidebar-offcanvas"id="Sidebar">
                <ul class="nav">
                    <br />
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#Employee" aria-expanded="false" aria-controls="ui-basic">
                            <i class="fa-solid fa-users fa-lg text-primary"></i>
                            <span class="nav-link"style="position:relative;right:20px">Employee</span>
                        </a>
                        <div class="collapse" id="Employee">
                            <a class="nav-link" asp-area="" asp-action="Index" asp-controller="Employee">All Employee</a>
                            <a class="nav-link" asp-area="" asp-action="Index" asp-controller="Employee">New Employee</a>

                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#Paycompute" aria-expanded="false" aria-controls="ui-basic">
                            <i class="fa-solid fa-users fa-lg text-primary"></i>
                            <span class="nav-link" style="position:relative;right:20px">Payment</span>
                        </a>
                        <div class="collapse" id="Paycompute">
                            <a class="nav-link" asp-area="" asp-action="Index" asp-controller="Employee">New Pay</a>
                            <a class="nav-link" asp-area="" asp-action="Index" asp-controller="Employee">Payment Record</a>

                        </div>
                    </li>
                </ul>
               

            </nav>

            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>
                <footer class="footer">
                    
                    <p style="margin-top:30px"> &copy;@DateTime.UtcNow.Year PayRoll System Application</p>
                </footer>

            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
